h1{
text-align: center;
font-size: 400%;
font-weight: bolder;
color: blue;
display: inline-block;

}

p { color: black; font-size: 30px; font-family: Times New Roman; }

#abc{
  color:red;
  font-size: 150%;
}
a:visited {
    color: green;
}
